body {
	display: block;
    margin: 0;
	padding: 0;
	background: black;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;		
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: black;
}
.background {
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
	z-index: -9999;
    background: linear-gradient(180deg, #fff5e6, #ffccff, #e6ffff);
		background-image: linear-gradient(
		#fff5e6(0, 180, 202), 
		#ffccff(252, 208, 1), 
		##e6ffff(17, 45, 142));
		background-position-x: initial;
		background-position-y: initial;
		background-size: 600% 600%;		
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: initial;
	filter:
		progid:DXImageTransform.Microsoft.Gradient(startColorStr="#fff5e6", 
		endColorStr="#e6ffff");
	background-size: 600% 600%;
		webkit animation: rat 60s ease infinite;
		moz animation: rat 60s ease infinite;
	animation: rat 60s ease infinite;
		animation-delay: initial;
		animation-direction: initial;
		animation-fill-mode: initial;
		animation-play-state: initial;
}
@keyframes rat {
	0%{
		background-position:50% 0%;
	}
	50%{
		background-position:50% 100%;
	}
	100%{
		background-position:50% 0%;
	}
}
.home {
	width: 150px;
	height: 150px;
	margin: 0 0 -100 600;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: -120px;
		margin-left: 650px;
	text-align: center;
}
.title {
	display:block;
	width: 900px;
    height: 170px;
    margin: 0 auto -40 250;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: -50px;
		margin-left: 310px;
	padding-top: 60px;
    font-size: 130px;
    font-family: "league-gothic",sans-serif;
    color: white;
    letter-spacing: 2px;
}	
.page {
    width: 950px;
    height: 170px;
    margin: 0 auto;
	padding: 0 20;
		padding-top: 0px;
		padding-bottom:20px;
    font-family: "league-gothic",sans-serif;
    color:  white;
	font-size: 35px;
    letter-spacing: 2px;
	word-spacing: 50px; 
}
.page ul li {
    display: inline-block;
    margin-right: 19px;
    vertical-align: middle;
}
.page ul li a, a:visited {
	color: white;
	opacity: 0.5;
}
.welc {
	padding-top: 20px;
	font-size: 25px;
    font-family: "league-gothic",sans-serif;
	letter-spacing: 0.5px;
    color: grey;
	opacity:0.5;
}
#container {
	width: /*@post-width=*/800px/*@*/;
	margin: -145 0 0 310;
		margin-top: -145px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 310px;
    padding: 2;
		padding-top: 2px;
		padding-right: 2px;
		padding-bottom: 0px;
		padding-left: 2px;
	background: #ffffff;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgb(255, 255, 255);
	border: none;
		border-top-color: initial;
		border-top-style: none;
		border-top-width: initial;
		border-right-color: initial;
		border-right-style: none;
		border-right-width: initial;
		border-bottom-color: initial;
		border-bottom-style: none;
		border-bottom-width: initial;
		border-left-color: initial;
		border-left-style: none;
		border-left-width: initial;
		border-image-source: initial;
		border-image-slice: initial;
		border-image-width: initial;
		border-image-outset: initial;
		border-image-repeat: initial;
}
.me {
	width: 160px;
	height: 160px;
}
#me {
	margin-top: -140px;
	margin-right: 45px;
	margin-left: 170px;
	font-family:ledger;
	font-size:15px;
	letter-spacing:0px;
	color: grey;
    text-align: justify;
	text-justify: inter-word;
}
#cont1 {
	margin:;
		margin-top: 15px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 30px;
	opacity:0.5;	
}	
.sns {
    margin: 0 auto;
	padding: 0 -100;
		padding-top: 0px;
		padding-bottom:-100px;
}
.sns ul li {
	display: inline-block;
    margin-right: 19px;
    vertical-align: middle	
}
.sns ul li a, a:visited a:active {
	opacity: 0.5;
}
.sns ul li img {
	width: 50px;
	height:50px;
}
ul, li {
    text-align: center;
}
a, a:visited, a:active {
	text-decoration: none;
		text-decoration-line: none;
		text-decoration-style: initial;
		text-decoration-color: initial;
    color: white;
}
ul li a:hover {
	opacity: 1;
}
.copyright {
    display: block;
    margin: 50 auto 10 auto;
		margin-top: 50px;
		margin-right: auto;
		margin-bottom: 10px;
		margin-left: auto;
	padding: 10 auto 0 auto;
		padding-top: 10px;
		padding-right: auto;
		padding-bottom: 0px;
		padding-left: auto;
	font-size: 12px;
    text-align: center;
    font-family: Helvetica,Arial, sans-serif;
    color: white;
}
